@font-face {
    font-family: 'FranklinGot';
    src: url(../fonts/FranklinGothic-Medium.eot);
    src: local("@"),         url('../fonts/FranklinGothic-Medium.woff2') format('woff2'), url('../fonts/FranklinGothic-Medium.woff') format('woff'), url('../fonts/FranklinGothic-Medium.ttf') format('truetype'), url('../fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

hr{
    opacity: 1;
}

a{
  text-decoration: none;  
}

body{
    font-family: Arial, sans-serif;
}

.clear{
    clear: left;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}


.logo{
    float: left;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    -webkit-animation: coming ease 2s;
    -o-animation: coming ease 2s;
    animation: coming ease 2s;
    font-family: 'FranklinGot', sans-serif;
}

@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu{
    float: left;
    
}

.menu li{
    float: left;
    font-size: 11px;
    color: white;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px; 
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li a{
    transition: all 0.1s; 
    color: white;
    transform: scale(1);
    display: inline-block;
     
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #ec9829;
     
}

.menu li a:active{
    transform: scale(1.1);
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

main{
    width: 100%;
    height: 100%;

}

.main{
    padding: 60px 0px;
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;   
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards; 
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s; 
   
}

.custom-class{
    font-size: 30px;
    color: black;
}

.custom-class:hover{
    color: red;
}

.icon-exclamation-custom{
    font-size: 30px;
    color: black;
}

.icon-exclamation-custom:hover{
    color: red;
}

.white-btn:visited{
    color: white;
}

@media (max-width: 992px){
    .title__container,  .title__container h4,  .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    
    .title__container input{
        border: 2px solid #fff;
    }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px; 
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes whiteblack{
    from{
        opacity: 0;      
    }
    to{
        opacity: 1;
    }
} 

.title__container h1{
    font-size: 53px;
    text-align: center;
    font-weight: bold;
}

.title__container h4{
    color: #79818d;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.title__container input{
    width: 70px;
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 10px;
    cursor: pointer;
    margin: 30px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1); 
}

.title__container input:hover{
    background:  #344051;  
    color: white;
}

.title__container input:active{
    transform: scale(1.1)
}

.about_me{
    padding-bottom: 100px;
}

.about_me h2{
    margin: 110px 0 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.about_me hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 15px auto;
}

.about_me a{
    display: block;
    width: 162px;
    height: 33px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 30px;
    margin: 40px auto 0;
    font-size: 16px;
    background: url(../img/input.png) 6%/auto no-repeat;
    padding-left: 18px;
    color: black;
    text-decoration: none;
}
.about_me a:active{
    transform: scale(1.1);
}

.about_me a:hover{
    color: #ec9829;
}

.skills{
    background: url(../img/bg2.jpg) center/cover no-repeat;
}

.skills_container{
    padding: 100px 0px;
    -webkit-animation: whiteblack 2s;
    -o-animation: whiteblack 2s;
    animation: whiteblack 2s;
}

.skills_container h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 0px auto 30px;
    color: #263244;
}

.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 30px auto;
}

.skills_container h4{
    color: #cf7600;
    font-size: 15px;
    font-weight: bold;
    padding: 30px 10px 10px 10px;
}
.skills_container img{
    margin-top: 20px;
    height: 40px;
}

.portfolio{
    padding: 100px 0px;
}

.portfolio_container h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #263244;
}

.portfolio_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 15px auto;
}

.portfolio_subscription img{
    margin: 30px auto;
    width: 100%;
}
.description_left{
    font-size: 12px;
}

.description_right{
     font-size: 25px;
    margin-bottom: 10px;
}

.description_left h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #263244;
    padding: 5px;
}

.description_right p{
    font-size: 20px;
}

.description_left p{
    font-size: 100%;
}

.description_left a:hover{
    color: #ec9829;
}

.description_left a:active{
    color: blue;
}

.description_left input, .calculator_input button{
    background: #63b5ae;
    color: #fff;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    line-height: 44px;
    border: 0px solid #6d7682;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.2s;
}

.description_left input:active{
    transform: scale(1.1);
    background: #4C8C88;
}

.Calculation{
    padding: 100px 0px;
}

.calculator_container h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.calculator_container h3{
    margin: 25px 25px 25px 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.mySelect{
    display: block;
    margin: auto;
    height: 54px;
    width: 100%;
    background: #fff;
    color: #737373;
}

.mySelect:hover{
    color: black;
}

#typeSite{
    background: #eeeeee;
}

.mySelect option{
    background: white;
    max-width: 100px;
}
.calculator_container hr{
    height: 1px;
    border: none;
    background: #d1d1d1;
    width: 100%;
    margin: 15px auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.days p, .price p{
    font-weight: bold;
    font-size: 18px;
}

.statistics_container{
    max-width: 1200px;
    max-height: 1200px;
    margin: auto;
    padding: 100px 0px;
    background: url(../img/bg3.jpg) 70% 20% fixed no-repeat;
    -webkit-animation: whiteblack 2s;
    -o-animation: whiteblack 2s;
    animation: whiteblack 2s;
}


.statistics_container h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #263244;
}

.statistics_container h3{
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.statistics_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 15px auto;
}

.statistics_item{
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    
}

.statistics_item img{
    height: 40px;
}

.reviews_container {
    padding: 100px 0px;
}
.reviews_container h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #263244;
}

.reviews_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin-bottom: 50px;
    margin: 30px auto;
}

.reviews_container img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.reviews_container p{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15px;
    max-width: 600px;
}

.contacts_container{
    max-width: 100%;
    max-height: 1200px;
    margin: auto;
    padding: 100px 0px;
    background: url(../img/bg4.jpg) center/cover no-repeat;
    color: #fff;
}

.contacts_container h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.contacts_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 15px auto;
}

.contacts_container p{
    text-align: center;
}

.contacts_container_item{
    float: left;
    padding-top: 30px;
    text-align: center;
}

.feedback{
    max-width: 50%;
    max-height: 1200px;
    margin: auto;
    padding: 30px 0px;
}

.feedback p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    padding: 20px 0px;
}
.feedback_item input{
    float: left;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    font-size: 16px;
    background: #d3d7dd;
}

.feedback_item textarea{
    margin: 20px 0;
    width: 100%;
    height: 80px;
    resize: none;
    background: #d3d7dd;
}

.feedback_item_sub input{
    min-width: 200px;
    min-height: 40px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.2s;
    color: #fff;
    margin-bottom: 80px;
}

.feedback_item_sub input:active{
    transform: scale(1.1);
}

.feedback_item_sub input:hover{
    color: black;
}

.contacts a img{
    margin: 20px 30px;
    height: 40px;
    transform: scale(1);
}

.contacts a img:hover{
    transform: scale(1.2);
}

.map img{
        display: block;
    width: 100%;  
}

.footer{
    
    background: #354051;
    height: 94px;
}

.footer_container{
    text-align: center;
    line-height: 94px;
    color: white;
}